@use 'config' as *;

// joinVarName(('button', 'text-color')) => '--clwy-button-text-color'
@function joinVarName($list) {
  $name: config.$namespace + '-';
  @each $item in $list {
    $name: $name + $item;
  }

  @return $name;
}

// getCssVarName(('button', 'text-color')) => '--clwy-button-text-color'
@function getCssVarName($args...) {
  @return joinVarName($args);
}

// getCssDefaultVarValue(('button', 'text-color'), red) => var(--clwy-button-text-color, red)
@function getCssDefaultVarValue($varName, $default) {
  @return var(#{joinVarName($varName)}, #{$default});
}

// joinComponentVarName('button') => clwy-button
@function joinComponentVarName($component) {
  $name: config.$namespace + config.$common-separator + $component !global;

  @return $name;
}