@use 'config' as *;

// joinVarName(('button', 'text-color')) => '--clwy-button-text-color'
@function joinVarName($list) {
  $name: $modifier-separator + $namespace;
  @each $item in $list {
    $name: $name + $common-separator + $item;
  }

  @return $name;
}

// getCssVarName('button', 'text-color') => '--clwy-button-text-color'
@function getCssVarName($args...) {
  @return joinVarName($args);
}

// getCssVar('button', 'text-color') => 'var(--clwy-button-text-color)'
@function getCssVar($args...) {
  @return var(#{joinVarName($args)});
}

// getCssDefaultVarValue('button', 'text-color') => var(--clwy-button-text-color, red)
@function getCssDefaultVarValue($varName, $default) {
  @return var(#{joinVarName($varName)}, #{$default});
}

// joinComponentVarName('button') => clwy-button
@function joinComponentVarName($component) {
  $name: $namespace + $common-separator + $component !global;

  @return $name;
}