@use '../common/var.scss' as *;
@use "sass:map";

@forward "config";
@forward "function";
// set css var  handler

@mixin set-css-var($name, $value) {
  @if $value != null {
    #{joinVarName($name)}: #{$value};
  }
}


@mixin set-css-color-type() {}


@mixin set-css-component() {}


@mixin set-css-color-rgb() {
  $color: map.get($colors, $type, 'base');
  @include set-css-var(
    ('color', $type, 'rgb'),
    #{red($color),
    green($color),
    blue($color)}
  );
}

// @include set-css-var-global(('button', 'text-color'), ('color', $type))
// --clwy-button-text-color: var(--clwy-color-#{$type});
@mixin set-css-var-global($var, $gVar) {
  $varName: joinVarName($var);
  $gVarName: joinVarName($gVar);
  #{$varName}: var(#{$gVarName});
}