.WH100 {
  width: 100%;
  height: 100%;
}

.FlexJustifyEnd {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.absoluteRightTopHalf {
  position: absolute;
  right: 0;
  top: 50%;
}

.relative {
  position: relative;
}