
@use '@gundam/style/base.scss' as *;
@use 'sass:map';

$irregularGeometricBg: joinComponentVarName('irregularGeometricBg');


// .clwy-irregularGeometricBg
.#{$irregularGeometricBg} {
  position: relative;
  // TODO change
  > .test-svg {
    position: absolute;
  }

  > section {
    word-wrap:break-word;
    padding: 24px;
  }
}