@use 'sass:map' as map;
@use 'sass:math';
@use '../mixins/function.scss' as *;

// base css properties 
$colors: () !default;
$colors: map.deep-merge(
  (
    "white": #ffffff,
    'default': #4b4034,
    'success': #767966,
    'warning': #682516,
    'error': #a92f1d,
  ),
  $colors
  
);

$color-white: map.get($colors, 'white');
$color-default: map.get($colors, 'default');
$color-success: map.get($colors, 'success');
$color-warning: map.get($colors, 'warning');
$color-error: map.get($colors, 'error');


$background: () !default;
$background: map.deep-merge(
  (
    'default': #4b4034,
    'emphasized': #682516,
    'dim': #767966,
    'disabled': #767966,
  ),
  $background
);


$text-color: () !default;
$text-color: map.deep-merge(
  (
    'default': #ffffff,
    'emphasized': #840202,
    'dim': #DBC49A,
    'disabled': #abac9e,
  ),
  $text-color
);


$font-size: () !default;
$font-size: map.merge(
  (
    'large': 18px,
    'default': 16px,
    'base': 14px,
    'small': 13px,
    'extra-small': 12px,
  ),
  $font-size
);


$common-size: () !default;
$common-size: map.merge(
  (
    'large': 38px,
    'default': 30px,
    'small': 22px,
  ),
  $common-size
);

$border-radius: () !default;
$border-radius: map.merge(
  (
    'small': 4px,
    'default': 8px,
    'large': 12px,
    'circle': 100%,
  ),
  $border-radius
);


$padding: () !default;
$padding: map.merge(
  (
    'large': 10px 20px,
    'default': 8px 16px,
    'small': 6px 12px,
  ),
  $padding
);

$font-weight: () !default;
$border-color:() !default;