@use '@gundam/style/base.scss' as *;

// .path {
//   stroke-dasharray: 1000;
//   stroke-dashoffset: 1000;
//   animation: dash 5s linear forwards;
// }

// @keyframes dash {
//   to {
//     stroke-dashoffset: 0;
//   }
// }

.circleAnimate {
  transform-box: fill-box;
  transform-origin: center center;
}


.content {
  position: absolute;
  right: 0;
  bottom: 50%;
  overflow: hidden;
}

.contentChildren {
  position: static;
  transform: translateY(70%);
}

.underText {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  overflow: hidden;
}