@use '@gundam/style/base.scss' as *;
@use 'variables.scss' as *;
@use 'sass:map';

$line-name: joinComponentVarName('line');
$straight-line-name: joinComponentVarName('line_straight');
$straight-line-pin-name: joinComponentVarName('line_straight_pin');


.#{$line-name} {
  @include set-variables() {
    @include set-map-css-var('straight-line-length', $straight-line-length);
    @include set-map-css-var('line-padding', $padding);
  }
}

.circleAnimate {
  transform-box: fill-box;
  transform-origin: center center;
}


.content {
  position: absolute;
  bottom: 50%;
}


.underText {
  font-size: 12px;
  top: 50%;
}

.content,
.underText {
  right: 0;
  position: absolute;
  text-align: right;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 70%;
  max-height: 50%;
  word-break: break-all;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: black;
  }
}


.hiddenScroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: black;
  }
}