@use '@/style/base.scss' as *;
@use 'variables.scss' as *;
@use 'sass:map';

$button-name: joinComponentVarName('button');

// .clwy-button
.#{$button-name} {
  // mixins content
  @include set-variables() {
    @include set-map-css-var('button', $button);
    @include set-map-css-var('button', $colors);
    @include set-map-css-var('button-size', $common-size);
    @include set-map-css-var('button-border-radius', $border-radius);
    @include set-map-css-var('button-padding', $padding);
  }
}

.#{$button-name} {
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  vertical-align: middle;
  padding: getCssVar('padding');
  border-radius: getCssVar('button', 'border-radius');
  background-color: getCssVar('button', 'background');

  @include when('disabled') {}

  @include when('loading') {}

}

// .clwy-button--error { background-color: var(--clwy-button-error); }
@each $type in ('success', 'error', 'warning') {
  .#{$button-name}--#{$type} {
    background-color: getCssVar('button', $type);
    color: getCssVar('button', 'text-color');
  }
}

// set size's height  button-border-radius-small
@each $size in ('small', 'large') {
  .#{$button-name}--#{$size} {
    padding: getCssVar('button', 'padding', $size);
    border-radius: getCssVar('button', 'border-radius', $size);
  }
}

@mixin types-theme($type) {
  $button-type-theme: (
    'hover': (),
    'disabled': ()
  )
}